<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">IDGS904 - Practicas</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" routerLink="CinepolisComponent">Cine</a>
        <a class="nav-link" routerLinkActive="active" routerLink="PointsDistanceComponent">Distancia</a>
        <a class="nav-link" routerLinkActive="active" routerLink="ResistancesComponent">Resistencias</a>
        <a class="nav-link" routerLinkActive="active" routerLink="PizzeriaComponent">Pizzeria</a>
      </div>
    </div>
  </div>
</nav>
